body {
	margin: 0;
	padding: 0;
	background: #FFFFEE;
	font-size: 12px;
	overflow: auto;
}

#mainDiv{
	width: 100%;
	height: 100%;
}

#loveHeart {
	float: left;
	width:670px;
	height:625px;
}

#garden {
	width: 100%;
	height: 100%;
}

#elapseClock {
	text-align: right;
	font-size: 36px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#weddingClock {
	text-align: right;
	font-size: 36px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#elapseClock .digit{
	font-family: "digit";
	font-size: 72px;
}

#weddingClock .digit{
	font-family: "digit";
	font-size: 72px;
}

#words {
	font-family: "sans-serif";
	width: 1000px;
	font-size: 48px;
	color:#666;
	top:10%;
}

#messages{
	display: none;
}


#loveu{
	padding: 5px;
	font-size: 22px;
	margin-top: 80px;
	margin-right: 120px;
	text-align: right;
	display: none;
}

#loveu .signature{
	margin-top: 10px;
	font-size: 20px;
	font-style: italic;
}

#clickSound{
	display:none;
}

#code {
	float: left;
	width: 440px;
	height: 400px;
	color: #333;
	font-family: "Consolas", "Monaco", "Bitstream Vera Sans Mono", "Courier New", "sans-serif";
	font-size: 12px;
}

#code .string{
	color: #2a36ff;
}

#code .keyword{
	color: #7f0055;
	font-weight:bold;
}

#code .placeholder{
	margin-left:15px;
}

#code .space{
	margin-left:7px;
}

#code .comments{
	color: #3f7f5f;
}

#copyright{
	margin-top: 10px;
	text-align: center;
	width:100%;
	color:#666;
}

#errorMsg{
	width: 100%;
	text-align: center;
	font-size: 48px;
	position: absolute;
	top: 100px;
	left:0px;
}

#copyright a{
	color:#666;
}

button {
	padding: 10px 20px;
	background-color: #007BFF;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  }
  
button:hover {
	background-color: #0056b3;
}

.music-player {
	position: fixed; /* 固定在屏幕上 */
	right: 0; /* 右侧对齐 */
	top: 50%; /* 顶部距离是视口高度的50% */
	transform: translateY(-50%); /* 通过transform垂直居中 */
	width: 330px; /* 设置宽度，与iframe的width属性一致 */
	height: 86px; /* 设置高度，与iframe的height属性一致 */
	border: none; /* 移除边框 */
}